* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 47px 0px 163px 42px;
}

a, button{
    cursor: pointer;
}

.header-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
}

button {
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

figure,
section {
    display: inline-block;
}

figure {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    margin-right: 85px;
}

h1 {
    width: 582px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    margin-bottom: 47px;
}

p {
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-bottom: 55px;
}

#section-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;    
}