/* 
    Responsividade

    É o termo utilizado para a adapção do site em dispositivos variados tamanhos

        Media Query

        Comando que auxilia na responsivade, fazendo com que comando sejam acionados em determinados tamanhos

        Além de determinar o tamanho, também é possivel indicar para quais tipos de disposivos:

        - All: Para todos os disposivitivps
        - Braille: Para dispositivos táteis
        - Embossed: Para dispositivos que imprimem em braile
        - Handheld: Para dispositivos portáteis, geralmente com telas pequenas e banda limitada
        - Print: Para impressão em papel
        - Projection: Para aprensatações como PPS
        - Screen: Para monitores ou dispositivos com telas coloridas e resolução adequada
        - Speech: Para sintetizadores de voz. Há uma especificação de CSS chamada Aural, onde podemos formatar a voz dos sintetizadores

        Orientação:

            - portrait: altura maior que largura (celular em pé)
            - landscape: largura maior que altura (celular deitado e a maiora dos monitores)

*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div{
    height: 500px;
    width: 500px;
    background: blue;
}

@media screen and (max-width: 500px) and (orientation:landscape) {
    /* A tela receberá essas configurações ATÉ NO MÁXIMO 500px de largura */
    div{
        height: 200px;
        width: 200px;
        background-color: red;
    }
}


@media screen and (min-width: 1000px) and (orientation:landscape) {
    /* A tela só receberá essas configurações SE NO MINIMO tiver 1000px de largura */
    div{
        height: 800px;
        width: 800px;
        background-color: green;
    }
}

@media screen and (min-width: 100px) and (orientation:portrait){
    /* Tela de celular em pé */
    div{
        height: 200px;
        width: 200px;
        background-color: orange;
    }
}



