/* 
    Grid column

    Determina qual coluna o item irá começar qual em qual ele irá terminar

        grid-column-start: numero da coluna -> Onde inicia

        grid-column-end: numero da coluna -> Onde termina

        grid-column: numero onde inicia / numero onde termina  -> Ambos

    Obs: Também é possivel definir seu inicio e fim baseado em sua largura 
        (para quantas linhas irá crescer) com a palavra-chave "span", 
        exemplo: Um container que irá ocupar 3 linhas, irá começar na 1 e terá span 2 (largura cresceu 2 linhas)

        grid-column-start: 1;
        grid-column-end: span 2;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.space{
    color: white;
    font-size: 30px;
}

.one{
    background: rgb(32, 45, 75);
    grid-column-start: 1;
    grid-column-end: 3;
}

.two{
    background: green;
}

.three{
    background-color: rgb(131, 25, 46);
    grid-column: 2/4;
}

.four{
    background: rgb(39, 141, 141);
}

.five{
    background: red;
}

.six{
    background: gray;
}

.seven{
    background: blue;
}

.eight{
    background: violet;
}

.nine{
    background: greenyellow;
}