/* 
    Position

    static (padrão): Não aceita valores de top, bottom, right e left
    fixed: fixa o elemento na tela
    sticky: age como um adesivo, gruda o elemento só onde for determinado (funciona com margin + propriedas (top, bottom...)
    relative: posição relativa a posição inicial
    absolute: posição absoluta a algum elemento ou a própria página
        - SE não tiver um elemento pai / pai for static -> Posiciona referente a pagina
        - SE o pai NÃO for static -> Posiciona referente ao pai

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad{
    height: 350px;
    width: 350px;
    background-color: rgb(25, 181, 192);
}

.div-son{
    height: 150px;
    width: 150px;
    background-color: rgb(202, 52, 52);
}


.div-other{
    height: 150px;
    width: 150px;
    background-color: rgb(217, 236, 39);
}