/* 
    Pseudo Classes 1

    Diferente dos pseudo elementos, pseudo classes em vez de trocar a estilização 
    de uma parte em especifico, troca estilização do elemento em momentos especificos, por exemplo:


    :active -> quando o elemento está ativo, ou seja, está sendo pressionado
    :visited -> seleciona o link que foi visitado
    :hover -> quando o mouse passe em cima do elemento
    :checked -> usado em raido / checkbox / select
    :disabled -> elemento desabilitado / button / input
    :enabled -> elemento está habilitado
    :focus -> é aplicada quando um elemento recebe foco, o que pode ocorrer quando o usuario seleciona o elemento
    :read-only -> seleciona input ou text area que são apenas leitura
    :empty -> elemento que não tem filho
    
    :first-child -> primeiro filho / ex: primeira li de uma ul / primeiro span de uma div
    :first-of-type -> primeiro elemento de seu tipo entre os filhos de seu elemento pai
    :last-child ->  último elemento de seu tipo entre os filhos de seu elemento pai
    :not() -> estiliza os elementos, exceto o que está dentro do ()
    :nth-child() ->  seleciona o elemento baseado na sua posição. Ex: :nth-child(3)
    :nth-last-child() ->  seleciona o elemento baseado na sua posição, contando de trás para frente

*/


a{
    font-size: 50px;
    color: blue;
}

a:active{
    color: red;
}

a:visited{
    color: blueviolet;
}

a:hover{
    color: chartreuse;
}

input:checked{ /* Ao ser selecionado */
    height: 200px;
    width: 200px;
}

button:disabled{
    border: 5px coral solid;
    background-color: brown;
    color: white;
}

button:enabled{
    border: 5px rgb(80, 0, 145) solid;
    background-color: rgb(13, 43, 177);
    color: white;
}

input:focus{
    width: 200px;
    height: 200px;
}

input:read-only{
    background: #76FF;
}

div:empty{
    width: 200px;
    height: 200px;
    background-color: darkslategrey;
}

div:hover, input:hover, button:hover{ /* Caso for mais de um elemento a ser estilizado, é necessario indicar qual pseudo será em cada um */
    background: cornflowerblue;
}