/* 
    Flex Grow

    Permite que os itens cresçam a partir do espaço que está sobrando,
    isso pode ser aplicado a todos ou a um especifico, caso queira que um ou alguns
    cresçam de maneira diferente

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid #9758A6;
    display: flex;
    height: 600px;
    flex-direction: row;
}


.block {
    background: #56c1ff;
    border: 5px solid #122cbd;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    flex-grow: 1; /* Blocos crescendo em escala 1 */
}

#big-block {
    flex-grow: 4; /* Quinto Bloco crescendo em maior escala, 5 */
}